* {
  font-family: "Courier New", Courier, monospace;
  background-color: #000000;
  color: #db16cb;
}

header {
  padding: 20px;
  background-color: #494949;
  color: #db16cb;
}

header ul {
  display: inline-block;
  margin-left: 25px;
}
header ul li {
  display: inline-block;
}
